h1 {
    color: gray;
    font-size: 50px;
    margin: 0;
  }
  
body {
    height: 100vh;
}
  
  /* START BELOW THIS LINE */

@media screen and (max-width: 800px) { 
    body {
      background-color: navy;
    }
}

@media screen and (max-width: 600px) { 
    body {
        background-color: orange;
    }
}

@media screen and (min-width: 600px) and (max-height: 400px) {
    
    #one {
        border: 10px dashed gray;
    }

    #three {
        border: 10px dotted gray;
    }
}

@media screen and (min-width: 900px), (min-height: 500px) {
    #two {
        border-top: 10px solid gray;
    }    
}

@media screen and (orientation: landscape) {
    body {
        display: flex;
    }   
}

@media screen and (orientation:portrait) {
    body {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: center;
    }
}